.media__cast {
  margin-top: 25px;
}
.cast-wrapper {
  text-align: center;
  .cast-image__wrapper {
    img {
      min-width: 130px;
      width: 100%;
      object-fit: scale-down;
      border-radius: 10px;
      max-height: 250px;
      min-height: 250px;
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}
