.home__filter {
  gap: 25px;
}
.filter__button {
  cursor: pointer;
  width: fit-content;
  background: #000;
  color: #fff;
  border-radius: 5px;
  padding: 9px 15px;
}
.filter__button.active {
  background: #fff !important;
  color: #000 !important;
}

@media only screen and (max-width: 469px) {
  .home__filter {
    font-size: 10px;
  }
}
@media only screen and (max-width: 370px) {
  .home__filter {
    font-size: 7px;
  }
}
