.search__input {
  input {
    font-family: "sf-pro-lighter";
    border-radius: 40px;
    border: none;
    outline: none;
    padding: 5px 25px;
  }
  .search__icon {
    height: 100%;
    cursor: pointer;
    color: black;
    left: -25px;
    position: relative;
  }
}
