.search__input {
  input {
    padding: 5px 50px 5px 0px;
    color: white;
    border-color: #fff !important;
  }
  .search__icon {
    height: 100%;
    z-index: 0;
    cursor: pointer;
    color: white;
    left: -40px;
    position: relative;
  }
}
