//variables
$--primary: #202020;
$--secondary: #d8dcff;
$containerWidth: 1400px;
$breakpoint_lg: 1200px;
$breakpoint_md: 1024px;
$breakpoint_sm: 769px;
$breakpoint_xs: 481px;
$breakpoint_exsm: 320px;
$padding: 30px;
